<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="[ '' ]">La-piec</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link " [routerLink]="[ '/discounts' ]" routerLinkActive="active">Акції</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " [routerLink]="[ '/menu/pizza' ]" routerLinkActive="active">Піца</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " [routerLink]="[ '/menu/salads' ]" routerLinkActive="active">Салати</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " [routerLink]="[ '/menu/desserts' ]" routerLinkActive="active">Десерти</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " [routerLink]="[ '/menu/drinks' ]" routerLinkActive="active">Напої</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " [routerLink]="[ '/payment' ]" routerLinkActive="active">Оплата</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " [routerLink]="[ '/basket' ]" routerLinkActive="active">Кошик</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " [routerLink]="[ '/admin' ]" routerLinkActive="active">Адмін</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
